body {
background-color: black;
width: 35%;
margin: auto;
}
.pic1 {
  
}
.mainpic{
    width: 100%;
}
.picture{
    background-image: url(../images/back-img-01.jpg);
    width:100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px 50px 0px 0px;
    
}
.title{
    text-align: left;
    font-weight: bolder;
    font-family: "Tahoma";
    color: white;
    font-size: 35px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 250px;
}
.text1
{
    background-color: #495057;
    color: white;
    font-family: Tahoma;
    text-align: left;
    font-size: 20px;
    border-radius: 0 0 50px 50px;
    margin-top: -15px;
    padding: 10px 0px 10px 0px;
}
.text2{
    padding: 10px ;
    text-align: left;
    color: white;
    font-family: Tahoma;
}
.link{
    color: white;
    font-family: Tahoma;
}
.oscar{
    text-align: center;
    background-color: #495057 ;
    border-radius: 25px;
    margin: 15px;
}
.oscar img {
    margin-top: 25px;
}
.oscar1{
    font-family: "Tahoma";
    font-size: 25px;
    color: white;
}
.oscar2{
    font-family: "Tahoma";
    font-size: 20px;
    padding: 0px 0px 25px 0px;
    color: white;
}
